@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#sky {
	background-image: url("../images/bgmiddag.jpg");
	width: 100%;
	height: 1000%;
	background-size: contain;
	resize: both;
	animation: slide 120s linear infinite;
}

@keyframes slide {
	from {
		margin-top: 0px;
	}

	to {
		margin-top: -6000px;
	}
}

/*klok*/
.main{
		display:flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		font-family: Shippori Mincho B1;
		letter-spacing: 6px;
		font-size: 80px;
		z-index: 10;
}

#dateDisplay{
		font-family: Shippori Mincho B1;
		letter-spacing:3px;
		position: absolute;
		top:65%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		font-size: 60px;
}

@media  screen and (max-width: 1200px) {
	.main {
		font-size: 75px;
	}

	#dateDisplay{
		font-size: 55px;
		top: 63%;
	}
}

@media  screen and (max-width: 960px) {
	.main {
		font-size: 65px;
	}

	#dateDisplay{
		font-size: 45px;
	}

	#sky{
		background-size: contain;
		resize: both;

	}
}

@media  screen and (max-width: 768px) {
	.main {
		font-size: 50px;
	}

	#dateDisplay{
		font-size: 40px;
	}
}

@media  screen and (max-width: 560px) {
	.main {
		font-size: 40px;
	}

	#dateDisplay{
		font-size: 25px;
	}
}


